<% include header %>


<head>
    <title>TicTacToe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./game.css">
  </head>
  
  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Gouthami's Page</a>
      </div>
      <ul class="nav navbar-nav">
      <li><a href="index_css.html"><b>About_me</b></a></li>
        <li><a href="index_.html"><b>Game</b></a></li>
        <li><a href="test.html"><b>Contact</b></a></li>
      </ul>
    </div>
  </nav>
    <header>
      <h1>Tic Tac Toe</h1>
    </header>
    <main>
      <section id="upper-left"> </section>
      <section id="upper-mid"> </section>
      <section id="upper-right"> </section>
  
      <section id="center-left"> </section>
      <section id="center-mid"> </section>
      <section id="center-right"> </section>
  
      <section id="lower-left"> </section>
      <section id="lower-mid"> </section>
      <section id="lower-right"> </section>
    </main>
    <script src="/game.js" defer></script>
  
  </body>
  

<% include footer %>
